@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    width: 500px;
}

.bg {
    background-color: #d3d7e7;
    background-image: linear-gradient(180deg, #d3d7e7 25%, #FFE32C 100%);

}

.logo {
    img {
        width: 100px;
    }
}

.logo_laravel {
    img {
        width: 100px;
    }
}

.jumbotron {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

// .best-sales {
//     width: 500px;
//     height: 70%;
//     object-fit: contain;
// }

.bg-gray {
    background-color: #e6e9f6;
}

.adventure {
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

.style {
    width: 100%;
    height: 250px;
    object-fit: fill;
    border-radius: 20px;
}

.brand {
    width: 80%;
    height: 200px;
    object-fit: fill;
    margin-top: 100px;
}

.play-store {
    width: 40px;
}

.apple-store {
    width: 35px;
}



.mobile {
    width: 80%;
}

.position {
    position: relative;
    top: 130px;
    z-index: -1;
}


.z-index {
    z-index: 1;
}

.bg-yellow {
    background-color: #ffa304;
}

.velocity {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9))
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slider {
    .slide-track {
        .slide {
            img {
                width: 300px;
                transition: transform 0.5s;
            }
        }
    }
}


img:hover {
    transform: translateZ(20px);
}

// .jumbo-auto{
//     background-image: url('C:/Users/andre/Desktop/boolean/laravel-autousate/laravel-autousate/resources/img/pexels-introspectivedsgn-28862474.jpg');
//     background-size: cover;
//     background-position: center;
//     height: 800px;
//     opacity: ;
// }


.jumbo-auto {
    position: relative;
    height: 800px;
    overflow: hidden;
    cursor: pointer;
}

.jumbo-auto::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/pexels-introspectivedsgn-28862474.jpg');
    background-size: cover;
    background-position: center;
    transition: filter 2s ease;
    filter: blur(8px);
    z-index: 1;
}

.jumbo-auto:hover::before {
    filter: blur(0px);
}

.jumbo-content {
    position: relative;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.jumbo-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(148, 148, 148);

}

.jumbo-content p {
    font-size: 1.2rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(146, 146, 146);

}

.gap-index {
    display: flex;
    gap: 20px;
}

.image-card {
    img {
        width: 100%;
        object-fit: cover;
    }
}

header {
    background-color: aqua;
}